node_modules/**
public/images/media/**
src/**/*.js
src/**/*.js.map
coverage
settings.json
server/_force_restart.js
public/
/dist/

# Ignore old meteor stuff
/.meteor/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Meteor Modern-Tools build context directories
_build
*/build-assets
*/build-chunks
.rsdoctor
